.destaques{
    display: flex;
    position: relative;
    flex-direction: column;
    font-size: 1.3em;
    width: auto;
    height: fit-content;
    padding: 0;
}
.card-section{
    width: 60%;
    height: fit-content;
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
}

.titlebox{
    background-color: #fbf6ee;
    width: 80%;
    height: auto;
    padding: 2em 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    font-weight: 600;
    box-shadow: #0000002f 1px 3px 3px;
}